{% extends 'profile.html' %}

{% block title %}
Change Password
{% endblock %}


{% block content %}

<div class="container">

    <h1 class="h3 mb-3 font-weight-normal">
        Change Password
    </h1>

    <form class="form-signin" method="POST" style="color:black">
        {{ form.hidden_tag() }}

        <div class="center">

            {{ form.oldPassword.label(class="heading") }}
            {{ form.oldPassword(class="input", placeholder="Old Password") }}

            {{ form.newPassword.label(class="heading") }}
            {{ form.newPassword(class="input", placeholder="New Password") }}

            {{ form.reEnterPassword.label(class="heading") }}
            {{ form.reEnterPassword(class="input", placeholder="Re-Enter New Password") }}

            {{ form.submit(class="blueButton") }}

        </div>

    </form>
</div>

{% endblock %}
