{% extends 'profile.html' %}

{% block title %}
Info Page
{% endblock %}


{% block content %}

<div class="gridBox">

        <a class="greenButton items" href="{{ url_for('deposit_page') }}">
            Cash Deposit
        </a>
        <a class="redButton items" href="{{ url_for('withdrawal_page') }}">
            Cash Withdrawal
        </a>
        <a class="blackButton items" href="{{ url_for('transfer_page') }}">
            Money Transfer
        </a>
        <a class="yellowButton items" href="{{ url_for('statement_page') }}">
            Mini Statement
        </a>

</div>

{% endblock %}