{% extends 'profile.html' %}

{% block title %}
Statement Page
{% endblock %}


{% block content %}

<div class="container">

    <h1>
        Mini Statement
    </h1>

    <table class="table">
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Transaction </th>
            <th scope="col"> Transferred </th>
            <th scope="col"> Cash </th>
            <th scope="col"> DATE and TIME </th>
        </tr>
        {% for user in userDetails %}
        <tr>
            <td> {{ user[0] }} </td>
            <td> {{ user[1] }} </td>
            <td> {{ user[2] }} </td>
            <td>Rs. {{ user[3] }} /-</td>
            <td> {{ user[4] }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
