{% extends 'profile.html' %}

{% block title %}
Withdrawal Page
{% endblock %}


{% block content %}

<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">
        Cash Withdrawal
    </h1>

    <form class="form-signin" method="POST" style="color:black; text-align: center;">
        {{ form.hidden_tag() }}

        <div class="center">

            {{ form.cash.label(class="heading") }}
            {{ form.cash(class="input", placeholder="How much cash you want to Withdrawal?") }}


            {{ form.submit(class="blueButton") }}
        </div>

    </form>
</div>

{% endblock %}