.heading {
    font-weight: bold;
    font-size: large;
}

.greenButton {
    background-color: #4CAF50;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.redButton {
    background-color: #f44336;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.blackButton {
    background-color: #555555;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.yellowButton {
    background-color: rgb(255, 255, 75);
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.blueButton {
    background-color: #008CBA;
    border: 1px solid black;
    color: white;
    margin: 2vh;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.redButton:hover, .blueButton:hover, .blackButton:hover, .greenButton:hover, .yellowButton:hover{
    opacity: 0.7;
    border-radius: 100%;
}

.button {
    background-color: aqua;
    position: absolute;
    left: 38vw;
    margin: 7vh 10vw;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}

.primary-btn {
    background-color: aqua;
    position: absolute;
    left: 47vw;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}

.primary-btn:hover {
    background-color: rgb(0, 104, 104);
    color: white;
    opacity: 0.8;
}

.btn {
    color: black;
    text-decoration: none;
}

.alert{
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-success {
    background-color: rgb(153, 253, 153);
}

.alert-danger {
    background-color: rgb(241, 176, 176);
}

.alert-info {
    background-color: rgb(121, 207, 193);
}

.closebtn {
    float: right;
    font-size: 15px;
    line-height: 5vh;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: black;
  }