{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark" style="color: white">
        <div class="container text-center">
            <h1>Welcome to our Banking Application</h1>
        </div>
        <br>
        <p>1. This is our application which can do only imaginary transactions. You are not allowed here to do real transactions.</p>
        <p>2. You can explore yourself here to watch our creativity.</p>
    </div>
{% endblock %}


