{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}

{% block content %}

<div class="container">
    <h1>Welcome to our
        <span class="purple">Banking Application</span>
    </h1>
    <div class="paragraph">
        <p class="para">1. This is our application which can do only imaginary transactions. You are not allowed here to
            do real transactions.</p>
        <p class="para">2. Anyone can make their accounts here and explore a different world of banking.</p>
        <p class="para">3. Your mobile number is an important thing here. So, make sure you are using different mobile
            numbers for different accounts.</p>
        <p class="para">4. Hope you like our website. For any suggestion please visit our contact page.
        </p>
    </div>
</div>

{% endblock %}


