<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='widget.css') }}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href=" {{ url_for('home_page') }} ">
                        <img src=" {{ url_for('static', filename='small_logo.png') }} " alt="">
                    </a>
                </li>
                <li>
                    <a href=" {{ url_for('home_page') }} ">Home</a>
                </li>
                <li>
                    <a href=" {{ url_for('about_page') }} ">About</a>
                </li>
                <li>
                    <a href=" {{ url_for('contact_page') }} ">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{ category }}">

        {{ message }}

        <span class="closebtn" onclick="this.parentElement.style.display='none';">CloseX</span>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; Avenger's Bank of India</p>
    </footer>

</body>

</html>
