{% extends 'base.html' %}

{% block title %}
Contact Page
{% endblock %}

{% block content %}

<div class="container">
    <h1>Contact Us</h1>

    <div class="paragraph">
        <p>As this is just a demo website for project, you cannot contact this bank. But if you want to add contact details in your project, you can definately add any of your contact details. The basic contact detail you can add is via email. You have to create a gmail, yahoo, rediffmail or any of the account you want to create and by using SMTP you can definately complete your contact page.</p><br>
        <p>But, as I made this website so you can contact me on my linkedin profile <a class="linkedIn" style="text-decoration: none; font-weight: bold;" href="https://www.linkedin.com/in/aditya-kumar-pal/" target="_blank">Aditya Kumar Pal</a> . Thankyou for visiting our website.</p>
    </div>
</div>

{% endblock %}
