{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<div class="block">
    <div class="container">
        <h1>Avenger's
            <span class="purple">Bank of India</span>
        </h1>
        <p class="paragraph">ABI is a banking application which provides you a platform to do real time transactions, transfering money to another account, getting your balance, and many more functionalities. Don't worry it is totally safe as it is a non-realistic website which is just made for fun.</p>
    </div>

    <img class="home_image" src=" {{ url_for('static', filename='Home_Image.jpg') }} " alt="">

</div>

<button class="button">
    <a class="btn" href=" {{ url_for('login_page') }} ">Get Started</a>
</button>
{% endblock %}