{% extends 'profile.html' %}

{% block title %}
    Info Page
{% endblock %}


{% block content %}
    <body class="text-center">
        <div class="container">
            <br><br>
            {% include 'includes/item_modals.html' %}
            <a href="{{ url_for('deposit_page') }}">
                <button class="btn btn-success">Cash Deposit</button>
            </a>
            <a href="{{ url_for('withdrawal_page') }}">
                <button class="btn btn-danger">Cash Withdrawal</button>
            </a>
            <br><br>
            <a href="{{ url_for('transfer_page') }}">
                <button class="btn btn-warning">Transfer</button>
            </a>
            <a href="{{ url_for('statement_page') }}">
                <button class="btn btn-info">Mini Statement</button>
            </a>
            <br><br>
            <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Balance Enquiry</button>
        </div>
    </body>
{% endblock %}
